@import '../../assets/variables.scss';

.forms {
    display: flex;
    flex-direction: column;
    input {
        width: 300px;
        margin: 10px 0;
    }
}

.suppliers-header {
    border-bottom: 1px solid map-get($color-map, gray-1);
    padding-bottom: 10px;
}