<div class="suppliers-header flex-center-vertical flex-left m-bottom-15">
  <i class="material-icons color-gray-1 text-40 m-right-30">
    insert_chart
  </i>
  <h2 class="color-gray-1">{{ title }}</h2>
</div>

<form [formGroup]="supplierForm" class="forms">
  <input placeholder="ggn" formControlName="ggn" />
  <input placeholder="name" formControlName="name" />
  <input placeholder="country" formControlName="country" />
  <input placeholder="sector" formControlName="sector" />
  <div>
    <input [formControl]="role" /><button (click)="addRole()">Add</button>
    <p *ngFor="let role of roles; let i = index">{{ role }} <button (click)="deleteRole(i)">Delete</button></p>
  </div>
</form>

<button (click)="saveSupplier()">Save</button>
