@import './../../../assets/variables.scss';

.suppliers-menu {
    li {
        margin-left: 15px;
        padding-bottom: 7px;
        border-bottom: 3px solid white;
        &.active {
            border-bottom: 3px solid map-get($color-map, red-1);
        }
    }
}

