@import './../../../assets/variables.scss';

.suppliers-menu {
  @media (max-width: 380px) {
    flex-direction: column;
    li {
      margin-top: 10px;
    }
  }
  li {
    margin-right: 50px;
    padding-bottom: 7px;
    border-bottom: 3px solid white;
    font-size: 16px;
    @media (max-width: 640px) {
      font-size: 14px;
      margin-right: 15px;
    }
    &.active {
      border-bottom: 3px solid map-get($color-map, red-1);
    }
  }
}
