<div class="suppliers-header flex-center-vertical flex-left m-bottom-15">
  <i class="material-icons color-gray-1 text-40 m-right-30">
    insert_chart
  </i>
  <h2 class="color-gray-1">Suppliers</h2>
</div>
<div class="flex-rigth">
  <button
    mat-button
    class="btn-create-new m-bottom-15"
  >
    <i class="material-icons color-gray-1">
      add
    </i>
    <span class="color-gray-1">Create new</span>
  </button>
</div>




<p (click)="getSuppliers()">Get Suppliers</p>

<p (click)="subscripeState()">Select</p>

<table mat-table matSort [dataSource]="dataSource" class="w-100 m-top-30 suppliers-list">

    <ng-container matColumnDef="ggn">
      <th mat-header-cell *matHeaderCellDef> GGN </th>
      <td mat-cell *matCellDef="let element"> {{element.ggn}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>

    <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef> Roles </th>
        <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
    </ng-container>

    <ng-container matColumnDef="sector">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sector </th>
        <td mat-cell *matCellDef="let element"> {{element.sector}} </td>
    </ng-container>

    <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> edit btn </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20]" class="paginator-centered" showFirstLastButtons></mat-paginator>